.footer-container-principal {
  width: 100%;
  background-color: #5f6c6a;
  margin-top: 20px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  max-width: 1000px;
}
.footer-container h1 {
  font-size: 48px;
  color: white;
}
.footer-container img {
  width: 214px;
  height: 214px;
}

@media (max-width: 640px) {
  .footer-container h1 {
    font-size: 25px;
  }
  .footer-container img {
    width: 111px;
    height: 112px;
  }
}
